html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.9s all;
    -webkit-transition: 0.9s all;
    -moz-transition: 0.9s all;
    -o-transition: 0.9s all;
    -ms-transition: 0.9s all;
}

a:hover {
    text-decoration: none;
}
input[type="button"],
input[type="submit"] {
    transition: 0.9s all;
    -webkit-transition: 0.9s all;
    -moz-transition: 0.9s all;
    -o-transition: 0.9s all;
    -ms-transition: 0.9s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    letter-spacing: 1px;
    font-size: 0.9em;
    /*color: #888;*/
    /*font-weight: 400;*/
    /*font-size: 0.95em;
    line-height: 1.9em;*/
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

@media (max-width:767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
    .navbar-nav {
        float: left;
        margin: 0;
        margin-left: 0em;
        width: 100%;
        background: #eee;
        margin-top: 1em;
    }
}
/*-- //banner-top --*/

.carousel .item {
    background: url(../images/banner1.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.carousel .item.item2 {
    background: url(../images/banner2.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.carousel .item.item3 {
    background: url(../images/banner3.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.carousel .item.item4 {
    background: url(../images/banner4.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.carousel-indicators {
    bottom: 10%;
    left: 22%;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0px 5px;
    background-color: #f60b0e;
    border: 2px solid #f60b0e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.modal-header .close {
    float: right!important;
}


/*-- //registration --*/


/*-- bootstrap-pop-up --*/

.modal-header {
    border-bottom: none;
}

.close {
    opacity: 1;
}

.modal-content {
    border-radius: 0;
}

button.close {
    font-size: 1em;
    color: #016065;
    outline: none;
}

/*-- //bootstrap-pop-up --*/


/*--about --*/
.about-main {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

p.paragraph {
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #777;
    line-height: 2em;
}
.about-main li{
    line-height:20px;
}
.about-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.about-right,
.about-right.two {
    padding: 5em 3em;
    float: right;
    background: #F8F8F8;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.about-right.two {
    float: left;
}

.about-left {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:260px;
    position: absolute;
    left: 4%;
    top: 19%;
    z-index: 9;
    width: 450px;
    height: 263px;
}
.about-left img{
    width: 100%;
    height: 100%;
    position: relative;
}

.about-left.two {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 260px;
    position: absolute;
    left: 46%;
    top: 14%;
    z-index: 9;
}

h3.subheading {
    color: #333;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 0.9em;
    font-weight: 600;
}

.about-right h3 {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 0.9em;
    font-weight: 600;
}

.about-top {
    text-align: left;
    margin: 0em 0em 1.5em;
    width: 66%;
}

.ab_content {
    padding: 1em 0;
}
.adopt{
    padding-bottom: 1em;
}
.contact{
    padding: 1em 0;
}

.about-main.sec {
    margin-top: 8em;
}


/*--// about --*/


/*-- /works--*/

.inner_sec_info_w3ls_agile {
    margin-top: 4em;
}


/*-- //works--*/

h3.tittle-w3ls.cen {

    text-align: left;
}

.sign.text-center {
    margin-top: 60px;
}

.agilegrid5 .sign.text-center {
    margin-top: 60px;
}

.inner-testimonials img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    -o-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    -ms-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    background: #eee;
    padding: 6px;
}

.portfolio-project .portfolio-grids img.img-responsive {
    width: 100%;
}

.portfolio-project {
    background: #F8F8F8;
    padding: 7em 0;
}


/*-- Popup-Box --*/

form li {
    list-style: none;
}

form ul {
    padding: 0;
}

.payment-online-form-left span {
    vertical-align: sub;
    margin-right: 30px;
}

.payment-online-form-left form {
    padding: 0;
}

.payment-online-form-left input[type="text"],
.payment-online-form-left input[type="email"] {
    padding: 1em;
    color: #485460;
    width: 49.3%;
    margin: 0.9em 0;
    border: 1px solid;
    outline: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    float: left;
    font-size: 0.9em;
    border-color: #CCC;
    -webkit-appearance: none;
    letter-spacing: 1px;
    letter-spacing: 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
}

.payment-online-form-left textarea {
    width: 100%;
    height: 150px;
    margin: 6px 0;
    padding: 10px;
}

input#datepicker {
    padding: 1em 1em 1em 1em;
}

.payment-online-form-left input[type="text"]:hover {
    border-color: #fa6e6f;
}

.text-box-light {
    background: #FFF url("../images/calender.png") no-repeat 95% 50%;
    cursor: pointer;
    position: relative;
}

.payment-online-form-left ul li:first-child input[type="text"],
.payment-online-form-left ul li:first-child input[type="email"] {
    margin-right: 1%;
}

.payment-online-form-left input[type="text"]:active,
.payment-online-form-left input[type="text"]:hover,
.payment-online-form-left textarea:hover {
    border-color: #636465;
    color: #5c5c5d;
}

.payment-sendbtns {
    float: right;
    margin:1em 0 0 0;
}
.payment-sendbtns input[type="reset"] {
    background: #111;
    padding: 10px 50px;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    display: block;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
    outline: none;
    letter-spacing: 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
}

.payment-sendbtns input[type="reset"]:hover {
    color: #FFF;
    background: #2196F3;
}

.payment-sendbtns input[type="submit"] {
    background: #f60b0e;
    padding: 10px 50px;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    display: block;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
    -webkit-appearance: none;
    outline: none;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
}

.payment-sendbtns input[type="submit"]:hover {
    color: #fff;
    background: #f60b0e;
}

.payment-sendbtns li {
    display: inline-block;
}

.payment-online-form-left {
    padding: 1em;
}


/*-- //Popup-Box --*/

.carousel.slide.two .item {
    background: none!important;
}

.tesimonials {
    padding: 6em 0;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #1d1c1c;
    font-size: 2em;
    text-shadow: none;
    margin-top: 0px;
    line-height: 53px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: 352px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    left: 398px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    left: -32%;
    top: auto;
    bottom: 37px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #333;
    width: 12px;
    height: 12px;
    margin: 0 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

#quote-carousel .carousel-indicators .active {
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

#quote-carousel img {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}


/* End carousel */

/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}


/*-- //testimonials --*/

/*-- responsive media queries --*/

@media(max-width:1680px) {
    .carousel-indicators {
        bottom: 20%;
        left: 19%;
    }
}
@media(max-width:1600px) {
    .carousel-indicators {
        bottom: 20%;
        left: 17%;
    }
}
@media(max-width:1580px) {
    .carousel-indicators {
        bottom: 20%;
        left: 13%;
    }
}
@media(max-width:1440px) {
    .ab_content,.works,.portfolio-project,.pricing, .testimonials {
        padding:1em 0;
    }

    .adopt{
        padding-bottom: 1em;
    }
    .contact{
        padding: 1em 0;
    }
    .inner_sec_info_w3ls_agile {
        margin-top: 3em;
    }
    h3.subheading {
        font-size: 20px;
    }
}

@media(max-width:1366px) {
    .carousel-indicators {
        bottom: 24%;
        left: 11%;
    }
    h3.tittle-w3ls {
        font-size: 3em;
    }

}

@media(max-width:1280px) {
    .carousel-indicators {
        bottom: 24%;
        left: 8%;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: 60px;
        font-size: 30px;
    }
    .about-right, .about-right.two {
        padding: 7em 3em;
    }
}

@media(max-width:1080px) {
    .carousel-indicators {
        bottom: 21%;
        left: 9%;
    }
    .teastmonial-info {
        padding: 3em 2em 0em 0em;
        width: 50%;
    }
    #quote-carousel .carousel-control.right {
        left: 329px !important;
    }
    #quote-carousel .carousel-control.left {
        left: 281px;
    }
    #quote-carousel .carousel-indicators {
        left: 7%;
        top: auto;
        bottom: 17px;
        margin-right: -19px;
    }
    .navbar-brand {
        padding: 0 0.9em;
    }
    h3.tittle-w3ls {
        font-size: 2.8em;
    }
    .ab_content, .works, .portfolio-project, .pricing, .testimonials {
        padding: 1em 0;
    }
    .adopt{
        padding-bottom: 1em;
    }
    .contact{
        padding: 1em 0;
    }
}

@media(max-width:1050px) {
    nav#cl-effect-15 ul li {
        padding: 10px 16px;
    }
    .carousel-indicators {
        bottom: 21%;
        left: 7%;
    }
    .sign.text-center {
        margin-top: 35px;
    }
    h3.tittle-w3ls {
        font-size: 2.4em;
    }
}

@media(max-width:1024px) {


}

@media(max-width:991px) {
    .carousel-caption {
        min-height: 505px!important;
        padding-top: 7em;
        text-align: left;
    }
    .carousel-indicators {
        bottom: 21%;
        left: 17%;
    }
    .about-left {
        position: static;
        left: 4%;
        top: 12%;
    }
    .about-left.two {
        position: static;
        left: 46%;
        top: 12%;
        z-index: 9;
    }
    .about-right.two {
        float: none;
    }
    .portfolio-grids_left {
        padding: 0;
        float: left;
    }
    .portfolio-grids {
        padding: 0;
        float: left;
        width: 49%;
    }
    .teastmonial-info {
        padding:3em 1em 0em 0em;
        width: 100%;
    }
    .testimonials-main img {
        margin: 0 auto;
        width: 100%;
        float: right;
    }
    #quote-carousel .carousel-indicators {
        left: 4%;
        top: auto;
        bottom: -20px;
        margin-right: -19px;
    }
    #quote-carousel .carousel-control {
        font-size: 2em;
        margin-top: 0px;
        line-height:85px;
    }
    #quote-carousel .carousel-control.left {
        left: 0px;
    }
    #quote-carousel .carousel-control.right {
        left:45px !important;
    }
    .dropdown-menu {
        position: static;
        display: none;
        float: none;
    }
}

@media(max-width:900px) {
    .about-right, .about-right.two {
        padding: 4em 3em;
    }
    .navbar-brand {
        padding: 0 0.6em;
    }
    nav#cl-effect-15 ul li {
        padding: 10px 10px;
    }
    .carousel-indicators {
        bottom: 21%;
        left: 13%;
    }
}

@media(max-width:800px) {
    .carousel-caption {
        min-height: 460px!important;
        padding-top: 6em;
        text-align: left;
    }
    .navbar-brand {
        padding: 0 0.1em;
    }
    nav#cl-effect-15 ul li {
        padding: 10px 9px;
    }
    .cl-effect-15 a {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .carousel-indicators {
        bottom: 21%;
        left: 9%;
    }
}

@media(max-width:768px) {
    .navbar-brand {
        padding: 0 0.3em;
        font-size: 22px;
    }
}

@media(max-width:767px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
    }
    .navbar-collapse {
        box-shadow: none;
    }
    .navbar-nav>li,
    .agile_short_dropdown li a {
        font-size: 13px;
    }
    .navbar-nav>li>a {
        padding: 0;
        margin: 1em 0;
    }
    .navbar-nav .open .dropdown-menu {
        background-color: #ec9114;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 1em 0;
    }
    .navbar-collapse.in {
        overflow-y: inherit;
    }
    .nav>li {
        position: relative;
        display: block;
        margin: 1em 0;
    }
    .navbar-nav .open .dropdown-menu {
        background: #da0406;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
        padding: 7px 0;
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
    }
    .navbar-default .navbar-toggle {
        border-color: #da0406;
        background:none;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: #da0406;
    }
    .navbar-default .navbar-nav>li>a {
        letter-spacing: 1px;
        font-size: 1.1em;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 0px;
        border:1px solid #ddd;
        background-image: none;
        border-radius:0px;
    }
    .navbar-left {
        width:50%;
        padding: 0em 1em;
    }
    .top_nav_left {
        margin-top: 0;
        padding: 1em;
        background: #efefef;
        text-align: center;
    }
    nav#cl-effect-15 ul li {
        padding: 10px 0;
        display: block;
        margin: 5px 0;
    }
    .navbar-right {
        float: left!important;
        width: 100%;
    }
    .carousel-indicators {
        bottom: 21%;
        left: 7%;
    }
    .about-main.sec {
        margin-top: 3em;
    }
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 0px 30px 0px;
    }
}

@media(max-width:736px) {

}

@media(max-width:667px) {
    .carousel-caption {
        min-height: 416px!important;
        padding-top: 5em;
        text-align: left;
    }
    .carousel-indicators {
        bottom: 21%;
        left: 9%;
    }
    .pricing_inner_main:nth-child(1), .pricing_inner_main:nth-child(3) {
        margin-top: 0em;
    }
    .pricing_inner_main {
        width: 53%;
        float: left;
        padding: 0;
        margin: 0 9em;
    }
    .pricing_inner_main:nth-child(2) {
        margin: 2em 9em;
    }
    #quote-carousel .carousel-indicators {
        left: 6%;
        top: auto;
    }
    h3.subheading {
        font-size: 18px;
    }
    .cd-search input {
        font-size: 1em;
        padding: 2em 1em;
        color: #fff;
        letter-spacing: 4px;
    }
}

@media(max-width:640px) {
    .about-top {
        text-align: left;
        margin: 0em 0em 1.5em;
        width: 90%;
    }
    .inner_sec_info_w3ls_agile {
        margin-top: 2em;
    }
    .payment-sendbtns input[type="reset"],.payment-sendbtns input[type="submit"] {
        padding: 10px 33px;
    }
    .pop_up h4 {
        margin: 1em 0 0.9em 0;
        font-size: 1.5em;
    }
}

@media(max-width:600px) {
    h3.tittle-w3ls {
        font-size: 2.3em;
    }
    .carousel-indicators {
        bottom: 21%;
        left: 10%;
    }
}

@media(max-width:568px) {
    .carousel-indicators {
        bottom: 21%;
        left: 10%;
    }
}

@media(max-width:480px) {
    .carousel-indicators {
        bottom: 25%;
        left: 12%;
    }
    .carousel-caption {
        min-height: 320px!important;
        padding-top:4em;
        text-align: left;
    }
    h3.tittle-w3ls {
        font-size: 2em;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: 76px;
        font-size: 30px;
    }
    .about-right h3 {
        font-size: 20px;
    }
    .about-right, .about-right.two {
        padding: 2em 2em;
    }
    .ab_content, .works, .portfolio-project, .pricing, .testimonials {
        padding: 1em 0;
    }
    .adopt{
        padding-bottom: 1em;
    }
    .contact{
        padding: 1em 0;
    }
    .payment-online-form-left textarea {
        width: 100%;
        height: 100px;
    }
}
/**/
@media(max-width:414px) {
    .navbar-left {
        width: 100%;
        padding: 0em 1em;
    }
    .carousel-indicators {
        bottom: 25%;
        left: 15%;
    }
    h3.subheading {
        font-size: 16px;
    }
    .about-left {
        position: static;
        left: 4%;
        top: 12%;
        min-height: 227px;
    }
    .about-left.two {
        position: static;
        left: 46%;
        top: 12%;
        min-height: 230px;
    }
    h3.tittle-w3ls {
        font-size: 1.8em;
    }
    .about-main {
        width: 95%;
        margin: 0 auto;
    }
    #quote-carousel .carousel-indicators {
        left: 11%;
        top: auto;
    }
}

@media(max-width:384px) {
    h3.subheading {
        font-size: 15px;
    }
    h3.tittle-w3ls {
        font-size: 1.6em;
    }

}

@media(max-width:375px) {
    nav#cl-effect-15 ul li {
        padding: 5px 0;
        display: block;
        margin: 5px 0;
        font-size: 0.9em;
    }
    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0px 1px;
    }
    .about-top {
        text-align: left;
        margin: 0em 0em 1em;
        width: 100%;
    }
    h3.tittle-w3ls {
        font-size: 1.4em;
    }
    .ab_content, .works, .portfolio-project, .pricing, .testimonials {
        padding: 1em 0;
    }
    .adopt{
        padding-bottom: 1em;
    }
    .contact{
        padding: 1em 0;
    }
    .about-right, .about-right.two {
        padding: 2em 1em;
    }
    .about-main.sec {
        margin-top: 2em;
    }
    .inner_sec_info_w3ls_agile {
        margin-top: 1.7em;
    }
    .teastmonial-info h5 {
        font-size: 1.1em;
    }
}

@media(max-width:320px) {
}

/*-- //responsive media queries --*/

/* contact */

.contact_grid_right input[type="text"], .contact_grid_right input[type="email"], .contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f6f9fb;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #ddd;
}
.contact_grid_right input[type="text"]:nth-child(2), .contact_grid_right input[type="email"] {
    margin: 1em 0 0;
}
.contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 1.1em;
    width: 95.3% !important;
    resize: none;
}
.contact_grid_right input[type="submit"], .contact_grid_right input[type="reset"] {
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    background: #000000;
    width: 45.6%;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 1.4em;
    -webkit-transition: 0.9s all;
    -moz-transition: 0.9s all;
    -o-transition: 0.9s all;
    -ms-transition: 0.9s all;
    transition: 0.9s all;
    font-weight: 700;
}
.contact-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}
.contact-left p {
    font-size:1em;
    letter-spacing: 1px;
}
.contact-text a {
    color:#888;
}
.contact-text a:hover{
    color: #fb383b;
}
.contact-left span.fa {
    width: 50px;
    height: 50px;
    background: none;
    text-align: center;
    font-size: 1.2em;
    line-height: 2.4em;
    border: 4px solid #383737;
    color: #fb383b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.mail-us {
    margin: 1.5em 0;
}
.call {
    margin-bottom: 1.5em;
}
.contact_grid_right h6,.contact-left h6 {
    font-size: 1.2em;
    color: #ff322e;
    margin-bottom: 1.5em;
    padding-left: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}
/*--//contact--*/
/*--responsive--*/

@media(max-width:991px) {
    .contact_grid_right textarea {
        min-height: 150px;
        margin: 1em 0em;
        width: 98.3% !important;
        resize: none;
    }
    .contact_left_grid {
        padding-left: 0;
    }
    .contact_grid_right input[type="submit"], .contact_grid_right input[type="reset"] {
        outline: none;
        padding: 15px 0;
        font-size: 14px;
        width: 48.7%;
        border: none;
        letter-spacing: 2px;
        margin-left: 0em;
    }
    .contact-left {
        margin-top: 2em;
    }
}
@media(max-width:667px) {
    .contact_left_grid {
        padding-left: 0;
        padding: 0;
    }
    .contact_grid_right input[type="email"] {
        margin: 1em 0 1em 0;
    }
    .contact_grid_right textarea {
        min-height: 150px;
        margin: 1em 0em;
        width: 100% !important;
        resize: none;
    }
    .contact_grid_right input[type="submit"], .contact_grid_right input[type="reset"] {
        outline: none;
        padding: 15px 0;
        font-size: 14px;
        width: 49.3%;
        border: none;
        letter-spacing: 2px;
        margin-left: 0em;
    }
    .contact_grid_right h6, .contact-left h6 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        padding-left: 0;
    }
    .contact_grid_right {
        padding: 0 5px;
    }
    .contact-left {
        margin-top: 2em;
        padding: 0 5px;
    }
    .contact-left span.fa {
        width: 38px;
        height: 38px;
        font-size: 0.9em;
        line-height: 2.1em;
    }


}
@media(max-width:568px) {
    .contact_grid_right input[type="submit"], .contact_grid_right input[type="reset"] {
        outline: none;
        padding: 15px 0;
        font-size: 14px;
        width: 48.98%;
        border: none;
        letter-spacing: 2px;
        margin-left: 0em;
    }
}
@media(max-width:384px) {
    .about-right h3 {
        font-size: 18px;
        line-height: 27px;
    }
}

@media(max-width:375px) {
    .contact_grid_right input[type="submit"], .contact_grid_right input[type="reset"] {
        outline: none;
        padding: 15px 0;
        font-size: 14px;
        width: 47.98%;
        border: none;
        letter-spacing: 2px;
        margin-left: 0em;
    }
    .contact-left span.fa {
        width: 38px;
        height: 38px;
        background: none;
        text-align: center;
        font-size: 1em;
        line-height: 2.1em
    }
}

@media(max-width:320px) {}


/*--//responsive--*/

/**/

/* blog */
html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
}

p{
    margin: 0;
    color: #888;
    font-weight: 400;
    font-size: 0.95em;
    line-height: 1.9em;
}

body a {
    text-decoration: none;
    transition: 0.9s all;
    -webkit-transition: 0.9s all;
    -moz-transition: 0.9s all;
    -o-transition: 0.9s all;
    -ms-transition: 0.9s all;
}


/*--/blog--*/

.blog_info h4 {
    text-transform: capitalize;
    font-size: 0.9em;
    color: #f60b0e;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.blog_info h5,
.single-left1 h5 {
    font-size: 1.2em;
    color: #313131;
    text-decoration: none;
    font-weight: 600;
}
.blog_list{
    margin: 0.3em 0 0 0;
}
.blog_list li:nth-child(2){
    width: 200px;
    background: pink;
}

ul.blog_list li {
    display: inline-block;
    color: #212121;
}

ul.blog_list li span {
    color: rgba(0, 0, 0);
    padding-right: 5px;
}

ul.blog_list li a {
    text-decoration: none;
    color: #212121;
}

.blog_info h5 {
    margin: 1em 0 0.7em 0;
}

ul.pagination.w3_pagination li a {
    padding: 10px 15px !important;
}

ul.blog_list {
    margin-bottom: 1em;
}
ul.blog_list li a:hover {
    color: #f60b0e;
}
.blog_info p {
    margin-top: 0.9em;
}
.collapsed span {
    display: inline-block;
    left: -1em;
    font-size: 11px;
    color: #000;
}
.collapsed i {
    display: none;
}

.blog_img {
    padding-left: 0;
    width: 33.3333%;
    margin-top: 1em;
}

.blog_info {
    margin-top: 1em;
}

.blog_info {
    margin: 0;
}

.blog_con {
    padding: 1em;
    border: 1px solid #ddd;
}

ul.blog_list li a {
    font-weight: 400;
    font-size: 0.9em;
}

ul.pagination {
    margin-top: 3em;
    margin-left: 77%;
}

.blog_section {
    padding-left: 0;
    width: 100%;
}
/*--responsive--*/

/*duhaha*/

@media(max-width:1080px) {
    .blog_section {
        width: 100%;
    }
    .blog_con img {
        width: 100%;
    }
}

@media(max-width:991px) {
    .blog_img {
        padding-left: 0;
        float: left;
        width: 33.3333%;
    }
    .blog_img.lost {
        width: 100%;
    }
    ul.blog_list li span {
        padding-right: 0.9em;
    }
    ul.blog_list li i {
        padding: 0 0.3em;
    }
}

@media(max-width:667px) {}

@media(max-width:640px) {
    .blog_img:nth-child(3),
    .blog_img:nth-child(4) {
        margin: 0em 0;
    }
    .blog_img {
        padding-left: 0;
        float: left;
        width: 100%;
        margin-bottom: 1em!important;
    }
}

@media(max-width:600px) {
    .blog_info h5{
        font-size: 1.1em;
    }
}

@media(max-width:568px) {}

@media(max-width:480px) {
    .blog_section {
        width: 100%;
        padding: 0;
    }
}

@media(max-width:414px) {}

@media(max-width:384px) {}

@media(max-width:375px) {}

@media(max-width:320px) {}

/*--//responsive--*/
footer{
    margin-top: 50px;
}

/* */
.base-adopt-btn{
    cursor: pointer;
}
.base-adopt-image{
    width: 100%;
    height: 230px!important;
}
/*.base-adopt-image img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/* 宠物领养 start */
/* 领养详情 */
.adopt-details{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    display: none;
    overflow: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 999;
}
.adopt{
    width: 76%;
    margin: 100px auto;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .adopt{
        width: 80%;
    }
}
@media (min-width: 800px) and (max-width: 992px) {
    .adopt{
        width: 85%;
    }
}
@media (max-width: 800px) {
    .adopt{
        width: 100%;
    }
}
.mask-box{
    width: 99%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.details-open{
    background: #f9f9f9;
    border-radius: 0 25px 25px 0;
    left: 0;
    padding: 3px 20px 4px 20px;
    top: 30px;
    width: 12px;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    box-sizing: content-box;
}
.cross-img{
    transform: rotate(0deg);
    transition: all 0.5s;
}
.cross-img:hover{
    transform: rotate(90deg);
}
.adopt-details-top{
    width: 100%!important;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius:  5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 40px 50px 40px 50px;
}
.adopt-details-top h1{
    font-weight: 600;
    margin-bottom: 16px;
}
.adopt-details-top h3{
    font-weight: 600;
}
.adopt-details-top p{
    color: #000;
}
.adopt-base{
    width: 100%;
    display: flex;
}
.adopt-base-img{
    width: 60px;
    height: 60px;
    background-color: #e83e8c;
    border-radius: 50%;
    overflow: hidden;
    /*float: left;*/
}
.adopt-base-img img{
    width: 100%;
    height: 100%;
}
.adopt-base-name{
    margin-left: 10px;
}
.adopt-base-name h3{
    margin-bottom: 5px;
}
.adopt-base-name p{
    margin-bottom: 0;
}
.pet-introduce{
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 20px;
    position: relative;
}
.pet-introduce p{
    padding-bottom: 10px;
}
.pet-introduce p span{
    font-weight: 600!important;
}
.registration-information, .registration-time{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.registration-information p{
    line-height: 30px;
    float: left;
    width: 33%;
}
.registration-time p{
    line-height: 30px;
    float: left;
    width: 50%;
}
.apply-btn{
    padding-top: 40px;
    width: 100px;
    margin: 0 auto;
}
.adopt-btn{
    width: 95px;
    padding-top: 16px;
    margin: 0 auto;
}
.apply-btn button, .adopt-btn button{
    border: none;
    padding: 5px 15px;
    background-color: #FD6116;
    border-radius: 5px;
    color: #fff;
    transition: all 1s;
}
.apply-btn button:hover, .adopt-btn button:hover{
    background-color: #EC3115;
}
/* 轮播图 */
#wrap{
    /*height: 766px;*/
    position: relative;
    margin: 0 auto;
}
.list{
    height: 560px;
    list-style: none;
    position: relative;
}
.item {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
    opacity: 0;
    transition: all .5s;
    /* 实现淡入淡出 */
}
.item img{
    width: 100%;
    height: 100%;
}
.btn{
    position: absolute;
    top:48%;
    z-index: 100;
    cursor: pointer;
    color: #ccc;

    text-align: center;
    line-height: 70px;
    font-size: 1.5em!important;
}
.fa-angle-left{
    border-radius: 0 5px 5px 0;
}
.fa-angle-right{
    border-radius: 5px 0 0 5px;
}
.btn:hover{
    background-color: #00000050;
    color:#fff;
}
#goPre{
    left: 0px;
}
#goNext{
    right: 0px;
}
/* 加个active相当于只能看到最上边的效果 在轮播图里可以利用
循环，能够让每个li里边的图片通过轮播显示在最上边*/
.item.active{
    z-index: 10;
    opacity: 1;
}
.pointList{
    padding-left: 0px;
    list-style: none;
    position: absolute;
    bottom: 20px;
    z-index: 1000;
    right: 20px;
}
.point{
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0,0.4);
    border-radius: 100%;
    float: left;
    margin-right: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,255,255,0.6);
    /* 给一个可以点击的小手的效果 */
    cursor: pointer;
}
.point.active{
    background-color: rgba(255,255,255,0.5);
}
/* 轮播图 end */
.pet-like{
    width: 100%;
    margin-top: 35px;
}
/* 爱心点击 start */
.like-btn{
    width: 80px;
    height: 80px;
    margin-top: 5px;
    background-color: #9D9EA1;
    margin: 0 auto;
    border-radius:100%;
    -webkit-transform:scale(0.6);
    transform:scale(0.6);
    padding: 20px;
}
.like-btn svg{
    font-size: 20px;
}
.liked  {
    -webkit-animation:blink 1s forwards;
    animation:blink 1s forwards;
}

@-webkit-keyframes blink {
    10% {
        -webkit-transform:scale(0.8);
        transform:scale(0.8);
        background:#8815b7;
    }
    100% {
        background:#e01f4f;
    }
}
@keyframes blink {
    10% {
        -webkit-transform:scale(0.8);
        transform:scale(0.8);
        background:#8815b7;
    }
    100% {
        background:#e01f4f;
    }
}
/* 爱心点击 end */

/**/


/* volunter */
.volunter{
    width: 100%;
    height: 40%;
    height: 32rem;
    margin:2.5rem 0 3rem 0;
    background: url(../../img/new/baseBg.JPG) no-repeat -374px -159px;

}
.volunter h1{
    font-size: 59px;
    color: white;
}
.volunter p{
    margin-top:1.3rem;
    color: white;
    font-weight: bold;
    font-family: serif;
    line-height: 3rem;
}

.baseVolun{
    margin-top:5.5rem;
}
#base-volu-btn{
    margin-top: 1rem;
}
.contactList{
    letter-spacing: 1px;
    color: #777;
    line-height: 2em;
}
.contactList li{
    line-height: 34px;
}
.list-group li{
    line-height: 34px;
}


/*  */
/*  */
.base-introduce{
    width: 100%;
    margin-top: 5px;
}
.base-bg{
    height: 500px;
    /* background: url(../img/adopt2.jpg) no-repeat top /cover; */
    background: url(../../img/new/cat2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    /*background-size: 100%;*/
    background-size: cover;
}
.bg-text {
    width: 45%;
    height: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 10%;
    text-align: right;
}
.bg-text h1 {
    font-size: 50px;
    line-height: 70px;
    color: #fff;
}
.bg-text p {
    font-size: 20px;
    color: #fff;
}
.adoptImg{
    width:325.98px;
    height:183.36px;
}
.adoptImg img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header-area .main-header-area .main-menu ul li a {
    padding: 10px 0 5px 0!important;
}
.header-area .main-header-area .main-menu ul li .submenu li a {
    padding: 10px 15px!important;
}
/* 基地介绍 start */
.base-introduce-eare{
    margin-top: 100px;
    margin-bottom: 30px;
}
.baintroduce-details{
    background-color: #000;
    border-bottom-left-radius: 145.5px;
    border-top-left-radius: 145.5px;
    padding: 20px 65px 20px 20px;
    position: relative;
}
@media(max-width: 992px){
    .baintroduce-details{
        border-radius: 15px;
    }
    .base-video{
        width: 251px;
        height: 251px;
        margin-left: auto;
        display: block;
        margin-right: auto;
    }
    .baintroduce-title{
        margin-top: 15px;
        text-align: center;
    }
    .baintroduce-content{
        margin-top: 10px;
        text-align: center;
    }
    .base-introduce-eare{
        margin-top: 70px;
    }

}
.base-video{
    display: inline-block;
    position: relative;
}
.base-video img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.video-play{
    width: 56px;
    height: 56px;
    background-color: #FCAD31;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}
.video-play:hover{
    background-color: #4FCD99;
}
.baintroduce-title h3{
    margin: 0;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -0.05em;
    font-weight: bold;
    color: #fff;
    padding-left: 22px;
    position: relative;
}
.baintroduce-content p{
    margin: 0;
    padding-left: 50px;
    font-size: 16px;
    line-height: 34px;
    font-weight: 500;
    color: #9e9e9e;
}
/* 视频 */
.video-area{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    display: none;
    z-index: 999;
}
.video-matter{
    /*margin: 40px 30%;*/
}
video{
    position: absolute;
}
.video-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
/* 基地介绍 end */

/* 背景线条 start */
.line{
    width: 100%;
    height: 450px;
    position: absolute;
    overflow: hidden;
}
@media (min-width: 1200px) {
    .line{
        height: 470px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .line{
        height: 490px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .line{
        height: 680px;
    }
}
@media (max-width: 768px) {
    .line{
        height: 1170px;
    }
    .line-two{
        left: 70% !important;
        top: 50%;
    }
    .line-fish{
        left: -6% !important;
    }
}
@media (max-width: 375px) {
    .line{
        height: 1250px;
    }
}
@media (max-width: 280px) {
    .line{
        height: 1365px;
    }
}
.line img{
    position: absolute;

}
.line-one{
    left: 5%;
    top: 4%;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.line-two{
    animation: bone 10s linear 0s infinite normal;
    animation-fill-mode: backwards;
    left: 85%;
}
@keyframes bone {
    25%{
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.line-fish{
    animation: fish 8s linear 0s infinite alternate;
    animation-fill-mode: backwards;
    left: 45%;
    bottom: 0;
}
@keyframes fish {
    50%{
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    100%{
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

/* 背景线条 end */

/* 捐赠 start */
.base-donate{
    margin-top: 45px;
    margin-bottom: 45px;
}
.mb-95{
    margin-bottom: 20px;
}
.donate-content div[class^="col"]{
    margin-top: 20px;
    border-right: 1px solid #CACACA;
}
@media (max-width: 992px) {
    .medicine{
        border-right: none!important;
    }
}
@media (max-width: 768px) {
    .section_title h3{
        line-height: 40px;
    }
    .donate-content div[class^="col"]{
        margin-top: 20px;
        border-right: none;
    }
}

.donate-img{
    width: 120px;
    height: 120px;
    border-radius: 50% 50% 0 0;
    margin: 0 auto;
}
.img-food{
    background-color: #ED4B4B;
    border-bottom: 4px solid #F16F6F;
}
.img-medicine{
    background-color: #FCAD30;
    border-bottom: 4px solid #FDBD59;
}
.img-use{
    background-color: #4ECD99;
    border-bottom: 4px solid #71D7AD;
}
.img-people{
    background-color: #5366C2;
    border-bottom: 4px solid #7585CE;
}
.donate-img img:hover{
    /*动画名称 动画时间 运动曲线 何时开始 播放次数 是否反方向*/
    animation: example 0.5s linear 0s 1 normal;
    animation-fill-mode: backwards;
}
@keyframes example {
    30%{
        transform:rotate(20deg);
        -ms-transform:rotate(20deg); /* IE 9 */
        -webkit-transform:rotate(20deg); /* Safari and Chrome */
    }
    70%{
        transform:rotate(-15deg);
        -ms-transform:rotate(-15deg); /* IE 9 */
        -webkit-transform:rotate(-15deg); /* Safari and Chrome */
    }
    100%{
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
    }
}
.donate-img img{
    margin: 20px;

}
.fa-heart{
    color: red;
}
.donate-content h3 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: -0.04em;
}
.donate-content p {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: #7e7e7e;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
.news-area{
    margin-top: 100px;
}
.base-news-title {
    font-size: 40px;
    font-weight: 600;
}
.bese-news-content{
    padding-left: 5px!important;
    font-size: 14px!important;
    color: #5E5E5E;
}
.bese-news-content h3{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

/* 捐赠 end */

/* 新闻 start */
.news-area{
    width: 100%;
}
.news-area img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}
/* 新闻 end */

/* 轮播图 */
#newwrap{
    /*height: 766px;*/
    position: relative;
    margin: 0 auto;
}
.newlist{
    height: 560px;
    list-style: none;
    position: relative;
}
.newitem {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
    opacity: 0;
    transition: all .5s;
    /* 实现淡入淡出 */
}
.btn{
    position: absolute;
    top:48%;
    z-index: 100;
    cursor: pointer;
    color: #ccc;

    text-align: center;
    line-height: 70px;
    font-size: 1.5em!important;
}
.fa-angle-left{
    border-radius: 0 5px 5px 0;
}
.fa-angle-right{
    border-radius: 5px 0 0 5px;
}
.newbtn:hover{
    background-color: #00000050;
    color:#fff;
}
#newgoPre{
    left: 0px;
}
#newgoNext{
    right: 0px;
}
/* 加个active相当于只能看到最上边的效果 在轮播图里可以利用
循环，能够让每个li里边的图片通过轮播显示在最上边*/
.newitem.newactive{
    z-index: 10;
    opacity: 1;
}
.newpointList{
    padding-left: 0px;
    list-style: none;
    position: absolute;
    z-index: 99;
    bottom: 20px;
    right: 20px;
}
.newpoint{
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0,0.4);
    border-radius: 100%;
    float: left;
    margin-right: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,255,255,0.6);
    /* 给一个可以点击的小手的效果 */
    cursor: pointer;
}
.newpoint.newactive{
    background-color: rgba(255,255,255,0.5);
}
/* 轮播图 end */

/* 领养 start */
.base-adopt{
    height: 492px;
    margin-top: 60px;
}
#adopt{
    width:100%;
    height:388px;
}
.base-adopt .thumbnail{
    border: none;
}
.adoptBox{
    width: 342px;
    height: 248px;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.base-adopt img{
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;
}
.base-adopt .caption{
    padding: 10px 20px 10px 20px;
    background-color: #F9F9F9;
    border-left: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}
.base-adopt .caption p{
    margin-top: 10px;
    margin-bottom: 0!important;
}
.base-adopt-btn{
    float: right;
}
.base-adopt-btn button{
    border: none;
    padding: 10px 15px;
    background-color: #FD6116;
    border-radius: 5px;
    color: #fff;
    transition: all 1s;
}
.base-adopt-btn button:hover{
    background-color: #EC3115;

}
/* 领养 end */